<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Eliminar Pacientes</h1>
                <form (ngSubmit) = "formSubmit()">
                    <div class="text-center">
                    <mat-form-field class="width-50"  appearance="outline">
                        <mat-label>Id del Paciente</mat-label>
                        <input type="text" [(ngModel)] = "id" name="id" matInput placeholder="Ingrese el ID del paciente" style="color:black;">
                    </mat-form-field>
                    </div>
                    <br>
                    <br>
                    <div class="container text-center">
                        <button mat-raised-button color="primary">Eliminar Paciente</button>
                    </div>
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>



