<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Administración de Médicos</h1>
                <form>
                    <br>
                    <table mat-table [dataSource] = "dataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="id">
                            <th mat-headet-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="colegiado">
                            <th mat-headet-cell *matHeaderCellDef> COLEGIADO </th>
                            <td mat-cell *matCellDef="let element"> {{element.colegiado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre_completo">
                            <th mat-headet-cell *matHeaderCellDef> NOMBRE </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="especialidad">
                            <th mat-headet-cell *matHeaderCellDef> ESPECIALIDAD </th>
                            <td mat-cell *matCellDef="let element"> {{element.especialidad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="edad">
                            <th mat-headet-cell *matHeaderCellDef> EDAD</th>
                            <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef = "displayColumn"></tr>
                        <tr mat-row *matRowDef = "let row; columns: displayColumn;"></tr>

                    </table>
                    <br>
                    <br>
                    <div class="container text-center">
                        <button routerLink="/registro_medico" mat-raised-button color="primary">Registrar Médico</button>
                        <button routerLink="/editar_medico" style="margin-left:20px;" mat-raised-button color="primary">Editar Médico</button>
                        <button routerLink="/eliminar_medico" style="margin-left:20px;" mat-raised-button color="primary">Eliminar Médico</button>
                    </div>
                    
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>
